<!DOCTYPE html>
<html>
    <head>
        <title>{{ student }}</title>
    </head>
    <body>
        <p>{{ student }} ({{ student.z_id }}) is enrolled in:</p>
        {% if student.courses.all %}
            <ul>
                {% for course in student.courses.all %}
                    <li>{{ course.course_code }} - {{ course.course_name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>This student is not enrolled in any courses</p>
        {% endif %}
        <a href="{% url 'courses:all_students' %}">Back</a>
    </body>
</html>